<main>
    <div id="feed-header">
        <div>
            <img alt="user">
            <p> username </p>
            <a href="_blank"> <i class="fa fa-ellipsis-h"></i></a>
        </div>
    </div>

    <article></article>

    <footer>
        <div id="post">
            <a href="_blank"> <i class="fa fa-heart"></i> </a>
            <a href="_blank"> <i class="fa fa-comment"></i> </a>
            <a href="_blank"> <i class="fa fa-paper-plane"></i> </a>
            <div id="last">
                <a href="_blank"> <i class="fa fa-bookmark"></i> </a>
            </div>
        </div>

        <div id="liked">
            <img alt="liked">
            <p> 
                Curtido por 
                <span><a href="_blank"> someone </a></span>
                e 
                <span><a href="_blank"> outras 2 pessoas </a></span>
            </p>
        </div>
        <p style="color: silver; font-size: 0.8rem; margin-left: 10px;"> Há 8 horas </p>
        
    </footer>
</main>