#feed-header {
    display: flex;
    align-items: center;
    padding: 1.2px;
    padding-bottom: 0.7px;
}

#feed-header div {
    display: flex;
    align-items: center;
    width: 100%;

}

#feed-header div img {
    content: url("https://i.pinimg.com/originals/d6/6a/fb/d66afbf701f3c534e219c81580b39c51.png");
    max-height: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    margin-left: 0.7rem;
    border-radius: 50px;

}

#feed-header div p {
    margin-left: 0.7rem;
    margin-top: 0.7rem;
}


#feed-header a {
    margin-left: auto;
    margin-right: 0.7rem;
}

article {
    width: 100%;
    height: 60vh;
    background-image: url('https://previews.123rf.com/images/luckybusiness/luckybusiness1507/luckybusiness150700051/42200947-happy-young-people-on-beach.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#post {
    display: flex;
}

#post a {
    color: black;
    margin-left: 1.1rem;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
}

#liked {
    display: flex;
    margin-top: 0.7rem;
}

#liked p {
    margin: 0 0 0.7rem 0.8rem;
}

#liked img {
    content: url("https://i.pinimg.com/originals/fd/e1/b5/fde1b5b843f0d3e2937164a02297efdf.jpg");
    max-height: 1.25rem;
    max-width: 1.25rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 50px;
    margin-left: 0.7rem;
}

#last {
    margin-left: auto;
    margin-right: 1.1rem;
}

@media only screen and (min-width: 767px) {
    
    main {
        background-color: white;
        border: 1px solid #ccc;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
}

@media only screen and (min-width: 1000px) {
    main {
        max-width: 50vw;
        min-width: 50vw;
    }

    #feed-header {
        max-height: 6vh;
    }
    
}