<main>
    <div id="organize">
        <img alt="Profile image" id="profImage">
        <aside>
            <p> Captain Anonymous </p>
            <p> Captain_AnonymousSP</p>
        </aside>
    </div>

    
    <section>
        <header id="organize">
            <p>Sugestões para você </p>
            <a href="_blank"> Ver tudo </a>
        </header>

        <div id="organize" >
            <img alt="Profile image">
            <aside>
                <p> Recruit </p>
                <p> rrecr_uit </p>
            </aside>
            <a href="_blank"> Seguir </a>
        </div>
        <div id="organize" >
            <img alt="Profile image">
            <aside>
                <p> Marine </p>
                <p> salt_water </p>
            </aside>
            <a href="_blank"> Seguir </a>
        </div>
        <div id="organize" >
            <img alt="Profile image">
            <aside>
                <p> Buckner </p>
                <p> imabuckner </p>
            </aside>
            <a href="_blank"> Seguir </a>
        </div>
        
    </section>

    <footer>
        <a> Sobre </a>
        <a> Ajuda </a>
        <a> Imprensa </a>
        <a> API </a>
        <a> Carreiras </a>
        <a> Privacidade </a>
        <a> Termos </a>
        <a> Locaazações </a>
        <a> Contas mais relevantes</a>
        <a> Hashtags </a>
        <a> Idioma </a>
        
        <p> © 2020 INSTAGRAM DO FACEBOOK </p>
    </footer>
    
</main>