@media only screen and (max-width: 1000px) {
    aside {
        display: none;
    }
}

aside {
    position: fixed;
    top: 13vh;
    left: 65vw;
    font-size: 0.9rem;
    max-width: 25vw;

}

#profImage {
    content: url('https://i.pinimg.com/originals/ac/60/73/ac60731e69d9f2b091442a9ea012e4b2.jpg');
    max-height: 3.5rem;
    max-width: 3.5rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    border-radius: 50px;
}

#organize {
    display: flex;
}

#suggestions-profile {
    margin-left: 0.7rem; 
}

#suggestions-profile p {
    margin: 0;
    padding: 0;
}

#suggestions-profile p:last-child {
    font-size: 0.8rem;
    color: #8e8e8e;
}

section img {
    content: url('https://i.pinimg.com/originals/ac/60/73/ac60731e69d9f2b091442a9ea012e4b2.jpg');
    max-height: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 50px;
}

section {
    margin-top: 1.25rem;
}

section div {
    margin-top: 0.7rem;
}

header p {
    font-size: 1.0rem;
    color: #8e8e8e;
}

header a:last-child {
    margin-left: auto;
    margin-right: 1.25rem;
    color: black;
}

section a {
    margin-left: auto;
    margin-right: 1.25rem;
}

footer {
    margin-top: 1.25rem;
}

footer a, footer p {
    margin-right: 0.7rem;
    font-size: 0.7rem;
    color: silver;
}

footer p {
    margin-top: 1.25rem;
    font-size: 0.8rem;
}