nav {
    height: 8vh;
    border-bottom: 1px solid var(--borders);
    background-color: var(--patern1);
}

div {
    display: flex;
    align-items: center;
    height: 100%;
}

div img {
    object-fit: contain;
    margin-left: 1rem;
}

aside {
    display: flex;
    align-items: center;
}

aside a {
    margin-left: 1.1rem;
    margin-bottom: 0.2rem;
    font-size: 1.7rem;
    color: var(--patern2);
}

input {
    display: none;
}

@media only screen and (min-width: 600px) {
    input {
        display: initial;
        margin-left: 20vw;
        margin-right: 10vw;
        background-color: var(--inputs);
        text-align: center;
    }

    aside {
        margin-right: 0.7rem;
    }
}

@media only screen and (min-width: 1000px) {
    nav {
        height: 7vh;
    }
    
    div {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
