
<main>
    <section>
        <div id="first">
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>

    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    <section>
        <div>
            <img alt="ragnar">
        </div>
        <p> us_user </p>
    </section>
    
</main>